/*General Selectors*/
*{
    box-sizing: border-box;
}

body{
    /*background-image: url(../images/computer.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    font-family: 'Acme', sans-serif;
    margin: 0;
    /*background: #D9BEB4;*/
}

/* nav{
    float:right;
}


ol{
    list-style-type: none;
}

ol li{
    display: inline;
}   

ol li a {
    padding: 20px;
    text-decoration: none;
} */

img {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    border-radius: 10px;
}

/*Class Selectors*/
.main-header{
    background-color: #2ddf5c;
    width: 100%;
    padding: 8px 16px
} 

.main-header > div{
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand{
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: #0e4f1f;
}

.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 135px);
    vertical-align: middle;
}

.main-nav__items{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.main-nav__item{
    display: inline-block;
    padding: 0 16px;
}

.main-nav__item  > a{
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item > a:hover,
.main-nav__item > a:active{
    color:white;
    border-bottom: 5px solid white;
}

a:not(.main-nav__item--cta){
    color: #e3e0d1;
}

.main-nav__item--cta a{
    background: #ff1b68;
    color:white;
    border-radius: 8px;
    padding: 8px 16px;

}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
    color:#ff1b68;
    background:white;
    border-bottom: none;
}

.main-accomplishments__article{
    background: #d5ffdc;
    display:inline-block;
    width: 30%;
    vertical-align: middle;
    text-align:center;
    padding: 16px;
    margin: 8px;
}

/*ID Selectors*/
#main-content-container{
    margin: 75px 120px;
    /*width: 75%;*/
    color: red;
    border: 3px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

#image-div-container{
    /*float: left;*/
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 100px;
    margin-right: 100px;
    width: 56.25%;
    display: inline-block;
}

#description-div-container{
    text-align: center;     
    margin: 0 auto;
    width: 18.75%;  
    display: inline-block;

}

#description-div-text-container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#descriptionDivText > h3{
    margin: 0;
}

#summary-overview{
    background: url("../images/me2.jpg");
    width: 100%;
    height: 600px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: burlywood;
}

#summary-overview h1{
    color:white;
    text-align: center;
    font-size: 60px;
}

#main-accomplishments > h1{
    color: #2ddf5c;
    text-align: center;
    font-size: 60px;
}

