/*General Selectors*/
*{
    box-sizing: border-box;
}

body{
    font-family: 'Acme', sans-serif;
    margin: 0;
    background: #fefbd8;
}

img {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    border-radius: 10px;
}

/*Class Selectors*/
.main-header{
    background-color: #fefbd8;
    width: 100%;
    padding: 8px 16px
} 

.main-header > div{
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand{
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: #0e4f1f;
    width: calc(100% - 405px);
}

.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 415px);
    vertical-align: middle;
}

.main-nav__items{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.main-nav__item{
    display: inline-block;
    padding: 0 16px;
}

.main-nav__item  > a{
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item > a:hover,
.main-nav__item > a:active{
    color:white;
    border-bottom: 5px solid white;
}

a:not(.main-nav__item--cta){
    color: black;
}

.main-nav__item--cta a{
    background: #ff1b68;
    color:white;
    border-radius: 8px;
    padding: 8px 16px;

}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
    color:#ff1b68;
    background:white;
    border-bottom: none;
}

.summary-overview__description{
    display:block;
    margin: 0;
    text-align: center;
    font-size: 60px;
    color: white;
    margin-top: 100px;
}

h2.summary-overview__description{
    display: inline-block;
    margin: 0;
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 0 100px;
}

h3.summary-overview__description{
    margin: 0;
}

.main-accomplishments__article{
    background: #f18973;
    color:white;
    display:inline-block;
    width: 31%;
    vertical-align: middle;
    text-align:center;
    padding: 16px;
    margin: 8px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
    height: 270px;
}

.main-accomplishments__article h1{
    font-size: 32px;
    margin: 0;
}

.main-accomplishments__article h2{
    padding: 0;
}

.main-accomplishments__article ul{
    list-style-type: none;
}

/* .main-accomplishments__article--middle{
    background: #19b84c;
    color:white;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
} */

.main-accomplishments__article--middle img{
    margin: 0 auto;
}

.main-accomplishments__article__annotation{
    background: white;
    color: black;
    padding: 7px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
    border-radius: 8px;
}

/*ID Selectors*/
#main-content-container{
    margin: 75px 120px;
    color: red;
    border: 3px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

#image-div-container{
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 100px;
    margin-right: 100px;
    width: 56.25%;
    display: inline-block;
}

#description-div-container{
    text-align: center;     
    margin: 0 auto;
    width: 18.75%;  
    display: inline-block;

}

#description-div-text-container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#descriptionDivText > h3{
    margin: 0;
}

#summary-overview{
    background: url("../images/background-image.jpg");
    width: 100%;
    height: 600px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #f18973;
}

#accomplishments-div{
    width: 100%;
    text-align: center;
}

#main-accomplishments > h1{
    text-align: center;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#main-accomplishments-nav{
    display: inline-block;
    padding: 0;
}
#main-accomplishments-nav li{
    display: inline-block;
}
